
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>The next level of football awaits you!</h1>
        <p>This is a web application that combines some features of rivals.com and facebook. This site is designed to give high school football players a way to customize a profile and compile their stats and highlights. These high school student-athletes can then send these profiles to college football programs of their interest in hopes of increasing their chances of receiving an offer to play college football for one of those programs!</p>
        <p>
          To see an example profile, use username - "beastmode10" and password - "password".
        </p>
        <p><!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>-->
          <%= link_to 'Register', new_user_path, class: 'btn btn-primary btn-lrg' %>
        </p>
      </div>
    </div>

    

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->
